*{
    margin: 0;
    padding: 0;
}
main{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    
}
.topplayers, .blogs{
    display: grid;
    
    grid-gap:30px;
    margin-top: 20px;
    place-items: center;

}
.topplayers{
    grid-template-columns: repeat(3,1fr);
}
.blogs{
    grid-template-columns: repeat(2,1fr);
}
.player, .blog {
    display: flex;
    align-items: center;
}
.player img{
    height: 50px;
    margin-right: 20px;

}
.thumble img{
    width: 200px;
    margin-right: 20px;
}
.course-info{
    display: flex;
}
@media (max-width:992px){

    .topplayers{
        
        grid-template-columns: repeat(2,1fr);
        
    
    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:668px){

    .topplayers{
        
        grid-template-columns: repeat(1,1fr);
        
    
    }
    .blog{
        display: block;
    }
}

